
@charset "uft-8";



//공통스타일
*{margin:0; padding:0; list-style:none; box-sizing: border-box;}
a{text-decoration:none;}
img{max-width:100%;}
table{width:100%;}
$main:#0088FF;
html {scroll-behavior: smooth; color:#fff;}
body{background: #000; font-family:"Montserrat"; overflow-x: hidden;}


.wrap{//outline:5px solid aliceblue;
    max-width:80%; margin:auto; overflow-x: hidden;
}

.inner{//outline:1px solid floralwhite;
    max-width:100%; margin:auto; 
}



//웹폰트설정
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

  .montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.pre{font-family:"Pretendard";}



//헤더
header{
    position:fixed; top:0; z-index:999;
    color:#fff; border:none;
    width:100%; height:5rem; font-weight:bold;
    padding:20px; font-size:1rem;
    transition:all 0.3s ease-in-out;

    >.hinner{display:flex; justify-content:space-between;  align-items:center;
        outline:none; padding-top:8px; width:80%; margin:auto; 
    }

    nav ul{display:flex; gap:15px;}

    nav li:hover a{color:gray;}
    
    a{color:#fff; font-weight: normal;}
    &.scrolled{
       background:rgba(0,0,0,0.8); 
       border-bottom:1px solid #393939;
        
    }//end:.scrolled
}//header




//인트로
.intro{

    position:absolute; top:38%; left:11%; z-index:90;
    font-size:2.5rem; font-weight:bold;
    line-height:1.4; //position:absolute;

    
    h3{font-weight: normal; font-size:1.8rem;}
}//intro



//인트로 배경
 .swiper{z-index:-1; //position: relative; 
        width:100%; height:100vh;
        
        ul{display:flex;}
        li{width:100%; height:100vh; }
    }//intro_bg



//프로필
#about{
   
    margin-top:20%; 
    
    h1{font-size:3rem; font-weight:bold; margin-bottom:10%;}

    .profile img{
        background:#0088FF; width:26rem; height:26rem;
        border-radius:50%; object-fit: cover; object-position: 50% 25%;
    }

    .profile{display:flex; gap:120px; justify-content: center; align-items: center;
            border-bottom:3px solid #fff;
            padding-bottom:7%;
            width:70rem; margin:auto;

            

        .profile_txt{

            p{font-size:3rem; font-weight: bold; font-style: italic; margin-bottom:70px;}
            table{
                tr{line-height:3;
                    th{text-align:left; font-weight: 600; color: #0088FF;
                        font-size:1.2rem;
                    }
                    td{padding-left:50px; font-size:1.2rem; }
                }//tr
            }//table
        }//profile_txt
    }//profile



    .info1{width:70rem;  margin:auto;
        padding:0 5%; margin-top:4%;

        


        h2{color: #0088FF; font-weight: 700; font-size:1.2rem;
            margin-bottom:3%;
        }

        table{
            
            tr{
                th{text-align:left;  font-size:1.2rem;
                font-weight:500; padding:15px 0;}
            td{color:#ddd; font-size:1.2rem; text-align: right;}
            }
         
        }//table
    }//info1


    .info2{width:70rem;  margin:auto;
        padding:0 5%; margin-top:4%;


        //outline:2px solid darkturquoise;

        h2{color: #0088FF; font-weight: 700; font-size:1.2rem;
            margin-bottom:3%;
        }

        table{//outline:1px solid red;
            
            tr{//outline:1px solid white;
                th{text-align:left;  font-size:1.2rem;
                font-weight:500; padding:15px 0;}
            td{color:#ddd; font-size:1.2rem; text-align: right;}
            }
         
        }//table
    }//info1
    
}//about





//스킬

#skill{
    width:100%; margin: auto;
    margin-top:20%;
    h1{font-size:3rem; font-weight:bold; margin-bottom:4%;}

    ul{display:flex; gap:50px; flex-wrap: wrap; justify-content:center; flex-flow: row wrap;}
    li{flex: 1 1 180px;  max-width: 130px;  box-sizing: border-box;}
    li:hover img{opacity:0.8;}
    img{object-fit:cover;  max-width: 100px;}
}//skill





//프로젝트
#project{
     width:100%; margin: auto; position: relative;
    
    margin-top:10%;
    a{color:#fff;}
    
    h1{font-size:3rem; font-weight:bold; margin-bottom:3%;}

    >ul{display: grid; grid-template-columns:1fr 1fr 1fr; gap:5px;}
    .li{margin-bottom:6%; background:#000; border:1px solid #000;
        padding:1.5%; transition:all 0.2s ease-in-out; 
    }
    .li:hover{transform:translateY(-2%);
        background:#0A0A0A; border:1px solid #393939;}
    img{margin-bottom:4%;}
    .text{line-height:1.5; //outline:1px solid red;

        h3{font-size:1rem; font-weight:600; margin-bottom:2%;}
        
        em{color:#aaa; font-size:12px;}
    }//text     
}//project



//프로젝트 바로가기
.project_click{width:40%; height:auto; border:1px solid #393939; display:none;
    position:absolute; top:0%; left:50%; z-index:999; 
    background:#0A0A0A; padding:2%; font-size:16px;

    li{width:100%; height:auto; margin:auto; padding:0%;}
    h5{text-align:center; margin-bottom:20px; font-weight:500; font-size:16px;}
    em{position:absolute; top:4%; right:5%;}
    button{background:none; border:1px solid #393939; color:#fff; cursor: pointer;
        width:30px; height:30px; line-height:30px;
    }
    p{width:100%; height:auto;}
    table{margin:10px 0 10px;
        th{text-align:left; font-weight:500;}
        td{text-align: right; color:#aaa;}
    }

    span{display:block; width:100%; word-break: keep-all; line-height:20px; font-weight:300;}
    .button{margin-top:30px;}
    a{border:1px solid #fff; display:block; width:30%; padding:3%; text-align:center;
        color:#fff; transition:all 0.15s ease-in-out;}
    a:hover{background:#fff; color:#000;}
}//project_click












//푸터

footer{margin-top:10%;
    background:#111; text-align: center; height:150px;
    
    .ftxt{padding-top:50px;

        span{font-weight:600; font-size:1.5rem;}
        p{color:#aaa; font-size:0.8rem; padding-top:15px;}
    }
    
}










//미디어쿼리////////////////////////////////////////////////////


/* 화면 너비가 1600px 이하일떄 */
@media screen and (max-width:1600px){
    html{//background:burlywood;
         font-size:14px;


         .intro{font-size:2.2rem;}

         #about .profile{width:60rem;}


         #skill ul li{min-width:7rem;}

         #project ul{grid-template-columns:2fr 2fr;}
         
    }

   

    html .wrap .inner .intro h3{
        //font-size:60px; 
    }

   

    html .swiper{//outline:2px solid white;
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }





}



/* 화면 너비가 1650px 이하일떄 */
@media screen and (max-width:1550px){
    html{
         font-size:14px;


         .intro{font-size:2.2rem;}

         #about .profile{width:60rem;}

         .wrap .inner #skill ul{gap:50px;}
         .wrap .inner #skill ul li{min-width:5rem;
             max-width: 100px;
        }
         #skill .inner ul li img{object-fit:cover; max-width: 90px;}



         #project ul{grid-template-columns:2fr 2fr;}
         
    }



     html .wrap .inner .intro{top:40%; left:11%;}


    html .swiper{
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }



}//1500px





/* 화면 너비가 1500px 이하일떄 */
@media screen and (max-width:1500px){
    html{
         font-size:14px;


         .intro{font-size:2.2rem;}

         #about .profile{width:60rem;}

         .wrap .inner #skill ul{gap:50px;}
         .wrap .inner #skill ul li{min-width:5rem;
             max-width: 100px;
        }
         #skill .inner ul li img{object-fit:cover; max-width: 90px;}



         #project ul{grid-template-columns:2fr 2fr;}
         
    }



}//1500px



/* 화면 너비가 1140px 이하일떄 */
@media screen and (max-width:1140px){
    html{
         font-size:14px;

         #about .profile{width:60rem; }
         #about .info1{ width:60rem;}
         #about .info2{ width:60rem;}

         #skill ul{flex-wrap:wrap;}
         #skill ul li{min-width:5rem;}

         #project ul{grid-template-columns:2fr 2fr;}

        
    }


    html .wrap .inner .intro{top:40%; left:11%;}

    html .swiper{
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }


}//1140





/* 화면 너비가 992px 이하일떄 */
@media screen and (max-width:992px){
    html{//background:skyblue;
        .inner #about .profile{gap:50px;}
         font-size:14px;

          #about .profile{width:50rem;}
          #about .info1{width:50rem;}
          #about .info2{width:50rem;}

          #skill ul li{min-width:4.5rem;}


          #project ul{display: block;}

         
          
    }

    html .wrap .inner .intro{top:40%; left:11%;}


    html .swiper{
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }


}

/* 화면 너비가 768px 이하일떄 */
@media screen and (max-width:768px){
    html{
        font-size:13px;

        .inner #about .profile{padding:0 2rem;}
        .inner #about .profile img{margin: auto;}
        .inner #about .profile{display:block;}
        .inner #about .profile p{margin-bottom:30px;}
        .inner #about .profile table{
           tr{text-align:left;}
        }


        #about .profile{width:45rem;}
        #about .info1{width:45rem;}
        #about .info2{width:45rem;}

        #skill ul li{min-width:3rem;}


        #project ul{display:block;}

    }

    html .wrap .inner .intro{top:30%; left:11%;}

    html .swiper{
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }
}//768





/* 화면 너비가 650px 이하일떄 */
@media screen and (max-width:700px){
    html{
        font-size:13px;

        .inner #about .profile{padding:0 2rem;}
        .inner #about .profile img{margin: auto;}
        .inner #about .profile{display:block; 
            
        }

        .inner #about .profile p{margin-bottom:30px;}

         #about .profile{width:40rem;}
         #about .info1{width:40rem;}
         #about .info2{width:40rem;}

           #about .info1 table, #about .info2 table{
            

            tr{
                th{font-size:1.1rem;}
                td{font-size:1.1rem;}
            }
         }



    }
}//700



/* 화면 너비가 650px 이하일떄 */
@media screen and (max-width:650px){
    html{
        font-size:13px;

        .inner #about .profile{padding:0 2rem;}
        .inner #about .profile img{margin: auto;}
        .inner #about .profile{display:block; 
            
        }

        .inner #about .profile p{margin-bottom:30px;}

         #about .profile{width:40rem;}
         #about .info1{width:40rem;}
         #about .info2{width:40rem;}

    }
}//650











@media screen and (max-width:600px){
    html{
        font-size:13px;

        .inner #about .profile{padding:0 2rem;}
        .inner #about .profile img{margin: auto;}
        .inner #about .profile{display:block; 
            
        }

        .inner #about .profile p{margin-bottom:30px;}

         #about .profile{width:33rem;}
         #about .info1{width:33rem;}
         #about .info2{width:33rem;}


        .inner #skill ul{display:flex; gap: 10px; flex-wrap: wrap;}

    }


    html .wrap .inner .intro h3{
        font-size:25px; 
    }

    html .wrap .inner .intro p{font-size:30px;}

    html .swiper{//outline:2px solid white;
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }//swper


    html #about .info1 table, #about .info2 table{
            

            tr{line-height:1.3; 
                
            }
         }

     

}//600



@media screen and (max-width:540px){
    html{
        font-size:13px;

        .inner #about .profile{padding:0 2rem;}
        .inner #about .profile img{margin: auto;}
        .inner #about .profile{display:block; 
            
        }

        .inner #about .profile p{margin-bottom:30px;}

         #about .profile{width:33rem;}
         #about .info1{width:33rem;}
         #about .info2{width:33rem;}


        .inner #skill ul{display:flex; gap: 10px; flex-wrap: wrap;}

    }


    html .wrap .inner .intro h3{
        font-size:25px; 
    }

    html .wrap .inner .intro p{font-size:30px;}

    html .swiper{
        width:100%; height:100vh; 

        img{object-fit:cover;  width:100%; height:100vh;
            object-position:center; object-fit:cover;
        }
    }//swper



    html #about .info1,  html #about .info2{
            margin-top:10%;
        width:98%;
            
    }//info1

    html #about .info2{margin-top:10%;}

    
}//510




/* 화면 너비가 430px 이하일떄 */
@media screen and (max-width:430px){
    html{
        font-size:13px;

        
        .inner #about .profile{padding:0;}

         #about .profile{width:27rem;}
         #about .info1{width:27rem;}
         #about .info2{width:27rem;}
    }


    html .wrap .inner .intro h3{
        font-size:20px; 
    }

    html .wrap .inner .intro p{font-size:25px;}

    html .swiper{
        width:100%;

        img{object-fit:cover;  width:100%; 
            object-position:center; object-fit:cover;
        }
    }
}

/* 화면 너비가 400px 이하일떄 */
@media screen and (max-width:400px){
    html{//background:aquamarine;
        font-size:11px;
    }

    html .swiper{
        width:100%; 

        img{object-fit:cover;  width:100%; 
            object-position:bottom; object-fit:cover;
            
        }
    }
}